
.posRelative{
	position: relative;
}
.footer{
	position: absolute;
	padding-left: 60px;
}
.question {
	background-color: #C3FAF4;
    padding: 10px;
    margin-bottom: 10px;
}

.options {
	background-color: #E5F7F5;
    padding: 10px;
    margin-bottom: 10px;
}

.options:hover { 
    background-color: #D0EFF6;
}
.pass{
	height: 100%;
    background-color: green;
    position: absolute;
    display: inline-flex;
}
.fail{
	height: 100%;
    background-color: red;
    position: absolute;
    display: inline-flex;
}

.marTop25{
	margin-top: 25px;
}
.marRight100{
	margin-right: 100px;
}
.nextBtn:hover{
	background-color: #B4C2C5;
}
.noPadRight{
	padding-right: 0;
}
.noPad{
	padding:0;
}
.questionAdded{
	text-align: center;
}
.questionAdded img{
	width: 90px;
	height: 90px;
}
.marBot40{
	margin-bottom: 40px;
}
.inline{
	display: inline;
}
.moreOptions{
	display: flex;
	justify-content: center;
}
#root button{
    height: 40px;
    background-color: cadetblue;
    color: white;
}
.selected{
	background-color: #ABD9E4;
}